<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Você Cairia?</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>Você Cairia?</h1>

        <nav>
            <a href="/">Início</a>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Você saberia reconhecer uma tentativa de phishing?</h2>

            <p>
                Faça uma simulação e descubra como pequenas pistas
                podem ajudar a identificar mensagens suspeitas.
            </p>

            <a href="/simulacao" class="botao">
                Começar simulação
            </a>
        </section>
    </main>

</body>
</html>